@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h3 class="display-5">Bienvenido a Pizza Park</h3>
    <p>Empieza tu orden aqui!</p>
</div>
<div>
    <div class="step step_selected">Tamaño</div><div id="ingridient_tab" class="step">Ingredientes</div><div id="shipment_tab" class="step">Envio</div>
</div>
<div id="size_div">
    <div id="steps_1">
        <form id="form1" runat="server">
            <table id="out1" class="outer">
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inner"><img id="chico" src="~/multimedia/pizzaSize-sm.png" class="sz_img" onclick="changeSize(id)" /></div>
                        <div class="pizza-description">
                            <div class="pizza-size-title">Chica</div>
                            40 cm <br/>
                            $80 <br/>
                        </div>
                    </td>
                    <td>
                        <div class="inner"><img id="mediano" src="~/multimedia/pizzaSize-mid.png" class="sz_img" onclick="changeSize(id)" /></div>
                        <div class="pizza-description">
                            <div class="pizza-size-title">Mediana</div>
                            55 cm <br />
                            $100 <br />
                        </div>
                    </td>
                    <td>
                        <div class="inner"><img id="grande" src="~/multimedia/pizzaSize-large.png" class="sz_img" onclick="changeSize(id)" /></div>
                        <div class="pizza-description">
                            <div class="pizza-size-title">Grande</div>
                            80 cm <br />
                            $130 <br />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="footer-next">
    <input type="button" class="next" id="next_btn" onclick="next()" value="Next" />
</div>

<script>
    var ingridientTab = document.getElementById("ingridient_tab");
    var shipmentTab = document.getElementById("shipment_tab");


    ingridientTab.onclick = function IndxIngrT() {
        next();
    }

    shipmentTab.onclick = function IndxShipT() {
        nextTotal();
    }

</script>