@page
@model IngredientesModel
@{
    ViewData["Title"] = "Seleccion de ingredientes";
}

<div style="height:3rem;"></div>
<div>
    <div id="size_tab" class="step">Tamaño</div><div class="step step_selected">Ingredientes</div><div id="ship_tab" class="step">Envio</div>
</div>
<div id="size_div">

    <form id="form2" runat="server">
        <table class="outer">
            <tr>
                <th colspan="3"><h1 class="price-lable" style="margin-bottom:0;"><label id="lblTag"></label><label id="lblPrecio"></label></h1></th>
            </tr>
            <tr>
                <td rowspan="2" id="img_td">
                    <div style="position: relative; left: 0; top: 0;">
                        <div class="inner">
                            <img id="imgPizza" src="~/multimedia/pizza.jpg" class="pizza" />
                            <img id="imgpeperoni" src="~/multimedia/peperoni.png" class="ingre" style="display:none" />
                            <img id="imgjamon" src="~/multimedia/jamon.png" class="ingre" style="display:none" />
                            <img id="imgtocino" src="~/multimedia/tocino.png" class="ingre" style="display:none" />
                            <img id="imgchampinon" src="~/multimedia/champinones.png" class="ingre" style="display:none" />
                        </div>
                    </div>
                </td>
                <td>
                    <div><img id="peperoni" src="~/multimedia/pepperoni-btn.png" class="ingre_img" onclick="checkUncheck(id);" /></div>
                    <div class="pizza-description">
                        <div class="pizza-size-title">Peperoni</div>
                    </div>
                </td>
                <td>
                    <div><img id="jamon" src="~/multimedia/ham-btn.png" class="ingre_img" onclick="checkUncheck(id);"/></div>
                    <div class="pizza-description">
                        <div class="pizza-size-title">Jamon</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div><img id="tocino" src="~/multimedia/bacon-btn.png" class="ingre_img" onclick="checkUncheck(id);" /></div>
                    <div class="pizza-description">
                        <div class="pizza-size-title">Tocino</div>
                    </div>
                </td>
                <td>
                    <div><img id="champinon" src="~/multimedia/mushrooms-btn.png" class="ingre_img" onclick="checkUncheck(id);" /></div>
                    <div class="pizza-description">
                        <div class="pizza-size-title">Champiñones</div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <br />
</div>
<div class="footer-next">
    <input type="button" class="next" id="btnBack" onclick="goBackSize()" value="Regresar" />
    <input type="button" class="next" id="btntoTotal" onclick="totalOrder()" value="Total" />
</div>

<script>
    var sizeTab = document.getElementById("size_tab");
    var shipmentTab = document.getElementById("ship_tab");

    sizeTab.onclick = function IngrSizeT() {
        goBackSize();
    }

    shipmentTab.onclick = function IngrShipT() {
        totalOrder();
    }

</script>